.card-style {
    /* width: 200px; */
    cursor: pointer;
    color: white;
    /* height: 200px; */
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    background: rgb(227, 65, 67);
    background: linear-gradient(167deg, rgba(227, 65, 67, 1) 0%, rgba(242, 80, 82, 1) 96%);
}

.card-style {
    padding: 500;
}

.margin-bottom {
    margin-bottom: 25px;
}